<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <codiluck_authorizenet>
                <title>CodiLuck Authorize.NET Payment</title>
                <model>CodiLuckAuthorizenetFacade</model>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <cctypes>VI,MC</cctypes>
            </codiluck_authorizenet>
        </payment>
    </default>
</config>