<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <codiluck_authorizenet>
                <model>CodiLuckAuthorizenetFacade</model>
                <title>CodiLuck Authorize.NET Payment</title>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>

                <cctypes>VI,MC</cctypes>

                <payment_action>authorize_capture</payment_action>
                <debug>true</debug>

                <paymentInfoKeys>auth_code,avs_result_code,cvv_result_code,cavv_result_code,account_number,account_type</paymentInfoKeys>
                <privateInfoKeys>auth_code,avs_result_code,cvv_result_code,cavv_result_code</privateInfoKeys>

                <is_sandbox>1</is_sandbox>
                <gateway_url>https://api.authorize.net/xml/v1/request.api</gateway_url>
                <gateway_url_sandbox>https://apitest.authorize.net/xml/v1/request.api</gateway_url_sandbox>
                <api_login_id>24nwG8HBzs9</api_login_id>
                <transaction_key>72AvBM7EMxQ253wA</transaction_key>
            </codiluck_authorizenet>
        </payment>
    </default>
</config>