<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Authorize.NET Payment Facade Virtual Type Configuration -->
    <virtualType name="CodiLuckAuthorizenetFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">codiluck_authorizenet</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">CodiLuckAuthorizenetValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">CodiLuckAuthorizenetCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Authorize.NET Value Handler Pool Configuration -->
    <virtualType name="CodiLuckAuthorizenetValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">CodiLuckAuthorizenetConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize.NET Value Handler Configuration -->
    <virtualType name="CodiLuckAuthorizenetConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">CodiLuck\Authorizenet\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <!-- Authorize.NET Gateway Config -->
    <virtualType name="CodiLuck\Authorizenet\Gateway\Config\Config" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">codiluck_authorizenet</argument>
        </arguments>
    </virtualType>

    <!-- Authorize.NET Command Pool Configuration -->
    <virtualType name="CodiLuckAuthorizenetCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">Magento\Payment\Gateway\Command\NullCommand</item>
                <item name="capture" xsi:type="string">Magento\Payment\Gateway\Command\NullCommand</item>
            </argument>
        </arguments>
    </virtualType>
</config>